.react-bs-container .react-bs-table-container {
  border: none !important;
}

.table th, .table td {
  border-left: 0 !important;
  border-right: 0 !important;
  /* border-top: 0 !important; */
  /* border-bottom: 0 !important; */
}
